<footer class="footer store-footer has-background-white">
    <div class="columns">
      <div class="column has-text-centered">
        <div class="mb-2">
          <small>
            <a href="/" class="has-text-weight-bold is-primary">BulmaShop</a>
            store by
            <a href="https://github.com/achaayb/" class="has-text-weight-bold is-primary">achaayb</a>
            powered by
            <a href="https://bulma.io/documentation/" class="has-text-weight-bold is-primary">Bulma</a>
          </small>

        </div>
      </div>
    </div>
  </footer>

  <script src="/static/script.js"></script>

</body>

</html>