<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <title>
    TinyStore Development
  </title>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="website" property="og:type">
  <meta content="#" property="og:url">
  <meta content="#" property="og:title">
  <meta content="#" property="twitter:url">
  <meta content="#" property="twitter:title">
  <!-- keep -->
  <!-- <link rel="stylesheet" media="all"href="static/application-2477cfd2ad9516cca1836a8669341b3d240608191a8d0007.css" nonce=""> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>

<body id="main_store">
  <nav class="navbar is-transparent has-logo-above" role="navigation" aria-label="main navigation">
    <div class="banner">
        <div class="container has-text-centered">🌞 Announcement Banner Example <a target="_blank" href="/">Link Example</a>
        </div>
    </div>
    <div class="navbar-brand">
        <img src="/static/BulmaShop.png" class="logo is-2by1-mobile" width="165.5" height="139">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="#">About</a>
        <a class="navbar-item" href="#"> Shipping & Returns </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item"> Cart </a>
      </div>
    </div>
  </nav>